
@{
    ViewBag.Title = "LapTop";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="logo_Desktop">
    <button class="button_logo">
        <img src="~/Theme/images/logo-acer.png" />
    </button>
    <button class="button_logo">

        <img src="~/Theme/images/logo-asus.png" />
    </button>
    <button class="button_logo">
        <img src="~/Theme/images/logo-dell.png" />
    </button>
    <button class="button_logo">
        <img src="~/Theme/images/logo-hp.png" />
    </button>

    <button class="button_logo">
        <img src="~/Theme/images/logo-intel.png" />
    </button>
    <button class="button_logo">
        <img src="~/Theme/images/logo-lenovo.png" />
    </button>
    <button class="button_logo">
        <img src="~/Theme/images/logo-macbook.png" />
    </button>
    <button class="button_logo">
        <img src="~/Theme/images/logo-msi.png" />
    </button>
    <button class="button_logo">
        <img src="~/Theme/images/logo-lg.png" />
    </button>
    <button class="button_logo">
        <img src="~/Theme/images/logo-surface.png" />
    </button>

    <button class="button_logo">
        <img src="~/Theme/images/logo-chuwi.png" />
    </button>

    <hr />


    <table>
        <tr>

            <td>
                <button class="button_rieng">
                    <img src="~/Theme/images/iconlaptop1.png" />
                </button>
            </td>
            <td>
                <button class="button_rieng">
                    <img src="~/Theme/images/iconlaptop2.png" />
                </button>
            </td>
            <td>
                <button class="button_rieng">
                    <img src="~/Theme/images/iconlaptop3.png" />
                </button>
            </td>
            <td>
                <button class="button_rieng">
                    <img src="~/Theme/images/iconlaptop4.png" />
                </button>
            </td>
            <td>
                <button class="button_rieng">
                    <img src="~/Theme/images/iconlaptop5.png" />
                </button>
            </td>
            <td>
                <button class="button_rieng">
                    <img src="~/Theme/images/iconlaptop6.png" />
                </button>
            </td>
            <td>
                <button class="button_rieng">
                    <img src="~/Theme/images/iconlaptop7.png" />
                </button>
            </td>


        </tr>

        <tr>
            <td>Deal Sốc</td>
            <td>Gaming</td>
            <td>MackBook</td>
            <td>Học Tập ,Văn Phòng</td>
            <td>Đồ Họa ,Kỹ Thuật</td>
            <td>Mỏng Nhẹ</td>
            <td>Cao Cấp Sang Trọng</td>
        </tr>

    </table>

</div>

<!-- Gia_Soc -->
<div class="brand">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Giảm Giá Sốc Tới 10 Triệu Đồng </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="brand-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">


                        <img src="~/Theme/images/latop1.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop2.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop3.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/laptop5.jpg" alt="img" />

                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read-more1">Xem Tất Cả Sản Phẩm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end Gia_Soc -->
<!-- Gaming -->
<div class="brand_size">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <img src="~/Theme/images/gaming.jpg" />
            </div>
        </div>
    </div>
    <div class="brand_Gaming">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">

                        <img src="~/Theme/images/latop1.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop2.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop3.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/laptop5.jpg" alt="img" />

                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read-more1">Xem Tất Cả Sản Phẩm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Gaming -->
<!-- MacBook-->
<div class="brand_size">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="Gaming">
                    <img src="~/Theme/images/macbook.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="brand_MacBook">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop1.jpg" alt="img" />

                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop2.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop3.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/laptop5.jpg" alt="img" />

                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read-more1">Xem Tất Cả Sản Phẩm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End_MacBook -->
<!-- Laptop_Hoc_Tap_Van_Phong-->
<div class="brand_size">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="Laptop_Hoc_Tap_Van_Phong">
                    <img src="~/Theme/images/HocTap.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="brand_Laptop_Hoc_Tap_Van_Phong">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">

                        <img src="~/Theme/images/latop1.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop2.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop3.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/laptop5.jpg" alt="img" />

                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read-more1">Xem Tất Cả Sản Phẩm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End_Laptop_Hoc_Tap_Van_Phong-->
<!-- Lap_Do_Hoa_Ky_Thuat-->
<div class="brand_size">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="Lap_Do_Hoa_Ky_Thuat">
                    <img src="~/Theme/images/dohoa.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="brand_Lap_Do_Hoa_Ky_Thuat">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop1.jpg" alt="img" />

                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop2.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop3.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/laptop5.jpg" alt="img" />

                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read-more1">Xem Tất Cả Sản Phẩm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End_Lap_Do_Hoa_Ky_Thuat-->
<!-- Lap_Top_Mong_Nhe -->
<div class="brand_size">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="Lap_Top_Mong_Nhe">
                    <img src="~/Theme/images/laptopmongnhe.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="brand_Lap_Top_Mong_Nhe">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop1.jpg" alt="img" />

                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop2.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop3.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/laptop5.jpg" alt="img" />

                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read-more1">Xem Tất Cả Sản Phẩm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End_Lap_Top_Mong_Nhe-->
<!-- Lap_Cao_Cap_Sang_Trong-->
<div class="brand_size">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="Lap_Cao_Cap_Sang_Trong">
                    <img src="~/Theme/images/laptopcaocapsangtrong.jpg" />

                </div>
            </div>
        </div>
    </div>
    <div class="brand_Lap_Cao_Cap_Sang_Trong">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop1.jpg" alt="img" />

                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop2.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop3.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/laptop5.jpg" alt="img" />

                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read-more1">Xem Tất Cả Sản Phẩm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End_Lap_Cao_Cap_Sang_Trong-->