@{
    ViewBag.Title = "Home Page";
}


<!-- about -->
<!-- end about -->
<!-- brand -->

<div class="brand">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2><span class="Title_Color1">Sản Phẩm Nổi Bật</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="brand-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">

                        
                        <img src="~/Theme/images/latop1.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop2.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop4.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop3.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/laptop7.jpg" alt="img"/>
                        
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/laptop8.jpg" alt="img"/>
                       
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read-more1">Xem Tất Cả Sản Phẩm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brand">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Xu Hướng Mua Sắm</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="brand-bg2">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/laptop7.jpg" alt="img" />
                       
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop2.jpg" alt="img"  />
                        
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop3.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="brand_box">
                        <img src="~/Theme/images/laptop9.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/laptop6.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                    <div class="brand_box">
                        <img src="~/Theme/images/latop1.jpg" alt="img" />
                        <h3>$<strong class="red">100</strong></h3>
                        <span>Mobile Phone</span>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                        <i><img src="~/Theme/images/star.png" /></i>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read-more2">Xem Tất Cả Sản Phẩm</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- end brand -->
<!-- clients -->
<!-- end clients -->
<!-- contact -->
<!-- end contact -->